configuration {
	font: "JetBrainsMono Nerd Font 10";
	show-icons: true;
	sidebar-mode: true;
	theme: "/home/firat/.config/rofi/nord.rasi";
	display-window: "缾 Windows";
	display-run: " Packages";
	display-ssh: " Ssh";
	display-drun: " Apps";
}
